<div class="write_post">
  <div class="write_post_top">
    <div class="write_post_top_content">
      <div class="write_post_image">
        <a href=""> <img class="post_head_icon_img" alt="profil" src="../../assets/minion.jpg"/></a>
      </div>
      <div class="write_post_form"><input type="text" placeholder="write a post..."></div>
    </div>
  </div>

  <div class="write_post_action">

    <div class="publier">
      <button type="button" ><i class="fa fa-pencil-square-o" ></i>Post</button>
    </div>

    <div class="publier">
      <button class="image_button"><i class="fa fa-picture-o"></i>Humeurs</button>
    </div>

    <div class="images">
      <button class="image_button"><i class="fa fa-picture-o"></i>images</button>
    </div>

  </div>

</div>
