

<header class="header">
  <div class="header_id">
    <img src="../../../res/header_icons/naruto.png" alt="ffidjuif">
  </div>

  <div class="header_navbar">
    <nav class="header_menu">
      <div class="navbar_space" > </div>
      <div class="home" > <a href="#"> <i class="material-icons">home</i> </a> </div>
      <div class="jobs"><a href="#"> <i class="material-icons">work</i></a> </div>
      <div class="services"><a href="#"> <i class="material-icons">group</i></a></div>
      <div class="others"><a href="#"> <i class="material-icons">cloud</i></a></div>
      <div class="navbar_space" >  </div>
    </nav>
  </div>



  <div class="header_user">
    <div class="user_space"></div>
      <div class="user_notification"><a href="#"> <i class="material-icons">  message </i></a></div>
    <div class="user_menu"><a href="#"> <i class="material-icons"> <span class="material-symbols-outlined"> logout </span>  </i></a></div>

      <div class="user_profil"><a href="#"> <i class="material-icons">  account_circle </i></a></div>
   
  </div>
</header>

