.header{
  display: flex;
  background: white;
  height: 60px;
  border: #92999f;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0 ;

}
.header_id{
  flex: 1;
}

.header_id p{
  color: #1877F2;
  font-style: italic;
  font-weight: 700;
  margin-top: 4%;
  margin-left: 10%;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header_navbar{
  flex: 2;
  background: white;
  height: 100%;
  display: flex;
}


.header_menu{
  display: flex;
  flex: 1;
  padding: 15px 50px 15px 50px;


}
.home{
  flex: 2;
  text-align: center;

}
.navbar_space{
  flex:1 ;
}
.material-icons{
  font-size: 35px;
  color: #1877F2;
}
.jobs{
  flex: 2;
  text-align: center;
}
.services{
  flex: 2;
  text-align: center;

}
.others{
  flex: 2;
  text-align:center;
}

.header_user{
  flex: 1;
  display: flex;
  padding: 30px 15px 30px 0;
}

.user_profil {
 flex: 1;

}
.user_notification{
  flex: 1;

 }
 .user_menu {
  flex: 1;

 }

.header_user div i {
  font-size: 25px;
}
.user_space{
  flex: 4;

}
