.content {
  margin-top: 25px;
  height: 250px;
  width: 60%;
  border-radius: 5px;
  margin-left: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}


.post_type_search {
  flex: 2;
}

.post_type_search input {
  width: 100%;
  padding-top: 2%;
  background-color: #F2F3F4;
  border: 2px none;
  border-bottom-style: solid;
  margin-bottom: 3%;
  height: 100%;

}

.post_type_menu {
  margin-top: 4%;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.post_type_menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin: 5% auto auto;
}
 li{
  list-style-type: none;
}

.post_type_menu ul li {
  height: 25%;
  font-family: Arial, serif;
  font-size: 17px;
}

/*..........................job filter............................*/
.job_filter{
  margin-top: 25px;
  height: 100px;
  width: 60%;
  border-radius: 5px;
  margin-left: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.job_filter_slider li mat-slider{
  width: 80%;

}






