<div class="content">

  <div class="post_type_search">
    <input type="search" placeholder="Search"/>
  </div>
  <div class="post_type_menu">
    <ul>
      <li>
        <mat-slide-toggle color="primary"></mat-slide-toggle>
        Posts
      </li>
      <li>
        <mat-slide-toggle color="primary"></mat-slide-toggle>
        Events
      </li>
      <li>
        <mat-slide-toggle color="primary"></mat-slide-toggle>
        Services
      </li>
      <li>
        <mat-slide-toggle color="primary"></mat-slide-toggle>
        Jobs
      </li>
      <li></li>

    </ul>
  </div>
</div>

<div class="job_filter">

  <h2>Salaire</h2>
  <div class="job_filter_slider">

    <li>
      <mat-slider color="primary" min="0" max="100" step="0.5" value="1.5"></mat-slider>
    </li>
  </div>
</div>

<div class="job_filter">

  <h2>Distance</h2>
  <div class="job_filter_slider">

    <li>
      <mat-slider color="primary" min="0" max="100" step="0.5" value="1.5"></mat-slider>
    </li>

  </div>

</div>


