

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1560BD;
  color: #fff;
}

.nav-links a {
  color: #fff;
  text-decoration-line: none;
}
/* LOGO */
.logo {
  font-size: 50px;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1.5em;
  font-size: 22px;
  text-decoration-line: none;
}
.menu li:hover {
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;

}

.services {
  position: relative;
}

