
<div class="space"></div>
<footer class="footer">

  <div class="footer_left">

    <h3>ourWebapp<span>LOGO</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Jobs</a>

      <a href="#">Services</a>

      <a href="#">Shops</a>

      <a href="#">Place1</a>

      <a href="#">Place2</a>
    </p>

    <p class="footer-company-name">OurWebapp © 2022</p>
  </div>

  <div class="footer_center">

    <div>

      <p><span>Schillerstraße 88</span> 52064, Aachen</p>
    </div>

    <div>

      <p>+491794245387</p>
    </div>

    <div>

      <p><a href="mailto:valdesvoufo8@gmail.com">valdesvoufo8@gmail.com</a></p>
    </div>

  </div>

  <div class="footer_right">

    <p class="footer-company-about">
      <span>About the website</span>
      this is a website created by valdes voufo an valdes Tsakem to facilitate the acces to nobs an services in cameroon.
      here you can find a job , post a job announcement or  find  service provider fors divers domaine.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
