@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);



.space {
  width: 100%;
  display: inline-block;
  background: whitesmoke;
  height: 800px;
  margin-bottom: 0;

}

.footer{

  background: black;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer .footer_left,
.footer .footer_center,
.footer .footer_right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer .footer_left{
  width: 40%;
}

/* The company logo */

.footer h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-links a{
  display:inline-block;
  line-height: 2;
  font-weight:400;
  text-decoration: none;
  color: white;
}

.footer-company-name{
  color: green;
  font-size: 14px;
  font-weight: 30;
}

/* Footer Center */

.footer_center{
  width: 35%;
}





.footer .footer_center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer .footer_center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
  text-align: center;
}

.footer .footer_center p a{
  color:  green;
  text-decoration: none;
  text-align: center;
}

.footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}



/* Footer Right */

.footer .footer_right{
  width: 20%;
}

.footer .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 20;
  margin-bottom: 20px;
}

.footer .footer-icons{
  margin-top: 25px;
}

.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  white;
  border-radius: 2px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer{
    font: bold 14px sans-serif;
  }

  .footer .footer_left,
  .footer .footer_center,
  .footer .footer_right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }



}
