.home-page{
  width: 100%;
  height: 100%;

}

.home-page-landing{
  width: 100%;
  height: 100%;
  background-image: url("src/assets/home_background.png");
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

.home-nav-bar{
  display: flex;
}

.home-nav-bar-left{
  justify-content: left;
  flex: 1;
  padding: 1em 1em 1em 1em;
  font-size: 2.5em;
  color: white;
}

.home-nav-bar-right{
  text-align: right;
  flex: 1;
  padding: 1em 1em 1em 1em;
  font-size: 1.5em;
  color: white;
}

.home-page-landing-content{
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 15%;
  display: flex;
  color: white;
  padding: 1em 1em 1em 1em;
}
.content-text{
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 4em;
  line-height: normal;
}
p{
  font-size: 2em;
}
