<div class="main">
  <div class="main_left"></div>
  <div class="main_center">
    <div class="profils">
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
    </div>


    <div class="post">
      <div class="post_head"></div>
      <div class="post_text"></div>
      <div class="post_image"></div>
      <div class="post_bottom"></div>

    </div>
  </div>
  <div class="main_right"> </div>
</div>
