.main{
  height: 2000px;
  display: flex;

}


.main_left{

  margin-top: 2px;
  margin-left: 5px;
  margin-right: 2px;
  
  flex: 2;
}

.main_center{
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 3px;
  flex: 3;

}
.main_right{

  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
 
  flex: 2;
}
.profils{
  background: white;
  display: flex;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
  
}
.profil{

  background: darkolivegreen;
  margin-left: 3px;
  flex: 1;
  border-radius: 6px;


}


/*for the component post*/
.post{
  background-color: white;
  margin-top: 2px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 5px;
  border-radius: 7px;
 border: solid;
 border-color:  #F0F2F5;

}


.post_head{
  flex: 1;
  display: flex;
  color: blue;
  padding: 10px 15px 10px 15px;
}
.post_head_content{
  margin: 5px;
  display: flex;
  flex: 1;
   
}
.post_head_icon{
  flex: 1; 
}
.post_head_icon_img{
  display: block;
  margin-left:  auto;
  margin-right: auto;
  height:40px;
  width:40px;
  border-radius: 100%;
  
}

.post_head_text{
  flex: 9;
  display: flex;
  flex-direction: column;
}
.post_head_text_name{
  flex: 1;
 
  font-size: 17px;
  font-weight: 200;
}
 a{
  text-decoration: none;
  color: black; 
}

a:visited{
  text-decoration: none;
}
.post_head_text_time{
  flex: 1;
  color: #65676B;
  font-size: 12px;
  font-weight: 600;
  
}

.post_head_option{
  flex: 1;
}


.material-icons{
  font-size: 40px;
  color: #1877F2;
}
.post_text{
  flex: 3;
  padding: 15px;

}
.post_image{
  flex: 7;
  max-width: 100%;
  max-height: 100%;

}
.post_image_img{
  width: 100%;
  
}
.post_bottom{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.post_botom_top{
  flex: 1;
  display: flex; 
}
.like_top{
  flex: 1;
  display: flex;
}
.coment_top{
  flex: 1;
  background-color: red;
}


.post_bottom_space{
  flex: 7;
}

.like_top_sticker{
  flex: 2;
  margin-left: 10px;
}
.like_top_number{
  flex: 1;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 5px;
}
.fa {
 width: 20px;
 font-size: 25px;
 color: #65676B;
 margin-top: 2px;
 margin-bottom: 2px;
}

.post_botom_bottom{
  flex: 1;
  background-color: yellow;
}