.main{
  height: 10000px;
  display: flex;

}


.main_left{

  margin-top: 2px;
  margin-left: 5px;
  margin-right: 2px;
  
  flex: 2;
}

.main_center{
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 3px;
  flex: 3;

}
.main_right{

  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
 
  flex: 2;
}
.profils{
  background: white;
  display: flex;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
  
}
.profil{

  background: darkolivegreen;
  margin-left: 3px;
  flex: 1;
  border-radius: 6px;


}


/*for the component post*/
.post{
  background-color: white;
  margin-top: 2px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 5px;
  border-radius: 7px;
 border: solid;
 border-color:  #F0F2F5;
 margin-bottom: 15px;

}


.post_head{
  flex: 1;
  display: flex;
  color: blue;
  padding: 10px 15px 10px 15px;
}
.post_head_content{
  margin: 5px;
  display: flex;
  flex: 1;
   
}
.post_head_icon{
  flex: 1; 
}
.post_head_icon_img{
  display: block;
  margin-left:  auto;
  margin-right: auto;
  height:40px;
  width:40px;
  border-radius: 100%;
  
}

.post_head_text{
  flex: 9;
  display: flex;
  flex-direction: column;
}
.post_head_text_name{
  flex: 1;
 
  font-size: 17px;
  font-weight: 200;
}
 a{
  text-decoration: none;
  color: black; 
}

a:visited{
  text-decoration: none;
}
.post_head_text_time{
  flex: 1;
  color: #65676B;
  font-size: 12px;
  font-weight: 600;
  
}

.post_head_option{
  flex: 1;
}


.material-icons{
  font-size: 40px;
  color: #1877F2;
}
.post_text{
  flex: 3;
  padding: 15px;

}
.post_image{
  flex: 7;
  max-width: 100%;
  max-height: 100%;

}
.post_image_img{
  width: 100%;
  
}
.post_bottom{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.post_botom_top{
  flex: 1;
  display: flex; 
  border-bottom: solid;
  color: #65676B;
  border-width: 1px;
  
}
.like_top{
  flex: 1;
  display: flex;
  
}
.coment_top{
  flex: 1;
  display: flex;
  font-size: 20px;
  padding: 3px;
  color: #65676B;
  
}

.coment_top_number{
  margin-right: 3px;
  color: #65676B;
}


.post_bottom_space{
  flex: 7;
}

.like_top_sticker{
  flex: 2;
  margin-left: 10px;
}
.like_top_number{
  flex: 1;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 5px;
 
}
.fa {
 width: 20px;
 font-size: 25px;
 color: #65676B;
 margin-top: 2px;
 margin-bottom: 2px;
}

.post_botom_bottom{
  flex: 1;
  
  display: flex;
}

.like{
  flex: 1;
  
  display: flex;
}
.coment{
flex: 1;

}
.save{
  flex: 1;
  
}

.post_botom_bottom button{
  color: #65676B;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  border:none ;
  margin-left: 2px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: white;
  
}
.post_botom_bottom button:hover {
 background-color: #F0F0F0;
}
.post_botom_bottom button i{
  margin-right: 10px;
}
.post_botom_bottom button i:hover {
  color: #1877F2;
}
.fa{
  margin-right: 5px ;
}


/*job post***************************/

.job_ident{
  height: 85px;
  
  display: flex;
}

.firm_logo{
  flex: 1;
  margin-left: 15px;
  padding-left: 10px;
}

.firm_logo img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: solid;
  border-color:#65676B;
  margin-left: auto;
}

.job_info{
  padding-left: 7px;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.firm_name{
  flex: 1;
  font-size: 25px;
  font-weight:  500; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1877F2;
}
.job_title{
  flex: 1;
  font-size: 20px;
}
.info{
  flex: 1;
  display: flex;
  font-size: 17px;
}
.info div{
  flex: 1;
  padding: 3px;
  color: #1877F2;
}

.firm_logo_space{
  flex: 6;
}

.job_description{
  padding: 25px;
  border-bottom-color: antiquewhite;
  border-top-style:groove;
  border-width: 0.1px;
  margin-top: 2px;
  
}