.main{
  background: #F0F2F5;
  height: 2000px;
  display: flex;

}


.main_left{

  margin-top: 2px;
  margin-left: 5px;
  margin-right: 2px;
  border-radius: 3px;
  flex: 2;
}

.main_center{
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  border-radius: 3px;
  flex: 3;
  background: white;

}
.main_right{

  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 3px;
  flex: 2;
}
.profils{
  background: white;
  display: flex;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.profil{

  background: darkolivegreen;
  margin-left: 3px;
  flex: 1;
  border-radius: 6px;


}


/*for the component post*/
.post{
  height: 600px;
  background-color: blue;
  display: flex;
  flex-direction: column;
}


.post_head{
  flex: 2;
  background-color: red;
}
.post_text{
  flex: 3;

}
.post_image{
  flex: 7;
  background-color: yellow;
}
.post_bottom{
  flex: 1;
  background-color: green;

}
