<div class="main">
  <div class="main_left"></div>
  <div class="main_center">
    <div class="profils">
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
    </div>


    <div class="post">  
        <div class="post_head">
           <div class="post_head_content">
           <div class="post_head_icon">  
              <a href="">  <img  class="post_head_icon_img" height="100%"  width="100%" src="../../assets/minion.jpg"></a>  
           </div>
            <div class="post_head_text">
                <div class="post_head_text_name"> <a href=""> Valdes Voufo </a> </div>
                <div class="post_head_text_time" > hier a 10:15</div>
            </div>
              <div class="post_head_option">
                <div class="post_head_option_more"><a href="#"> <i class="material-icons">more_horiz</i></a></div>
              </div>
            </div>
      </div>
      <div class="post_text">
        𝗟𝗔 𝗥𝗘𝗟𝗜𝗚𝗜𝗢𝗡 𝗖𝗛𝗘𝗭 𝗟𝗘𝗦 ''𝗕𝗔𝗠𝗜𝗟𝗘𝗞𝗘''
                "Les croyances religieuses sont intimement liées au terroir et aux ancêtres
           

      </div>
      <div class="post_image">
        <img src="../../assets/image_post.jpeg" class="post_image_img" alt="post">
      </div>
      <div class="post_bottom">

       <div class="post_botom_top">

         <div class="like_top">
           <div class="like_top_sticker"><a href="#"> <i class="fa fa-gratipay" aria-hidden="true"></i></a></div>
           <div class="like_top_number">10</div>
         </div>
         <div class="post_bottom_space"></div>

         <div class="coment_top">
           <div class="coment_top_number"> 10 </div>
           <div class="coment_top_text">commentaires</div>
         </div>
       </div>

       <div class="post_botom_bottom">
         <div class="like">
          <button type="button" onclick="" class="like_buton"> <i class="fa fa-gratipay" aria-hidden="true"></i> j'aime</button>
         </div>
         <div class="coment">
          <button class="like_buton"> <i class="fa fa-comment" aria-hidden="true"></i>commenter</button>
         </div>
         <div class="save">
          <button class="like_buton"> <i class="fa fa-bookmark" aria-hidden="true"></i> enregistrer</button>
        </div>
      
       </div>
      </div>

    </div>
















<!--tobe sw-->


<div class="post">  
  <div class="post_head">
     <div class="post_head_content">
     <div class="post_head_icon">  
        <a href="">  <img  class="post_head_icon_img" height="100%"  width="100%" src="../../assets/img/Mercedes_Benz_logo.png"></a>  
     </div>
      <div class="post_head_text">
          <div class="post_head_text_name"> <a href=""> Mercedes Benz Gmbh </a> </div>
          <div class="post_head_text_time" > hier a 10:15</div>
      </div>
        <div class="post_head_option">
          <div class="post_head_option_more"><a href="#"> <i class="material-icons">more_horiz</i></a></div>
        </div>
      </div>
</div>


<div class="job_ident">
  <div class="firm_logo">
    <img src="../../assets/img/Mercedes_Benz_logo.png" alt="">
  </div>
  <div class="job_info">
    <div class="firm_name"> Mercedes Benz Gmbh</div>
    <div class="job_title">
      Data Scientist/Data Analyst
    </div>
    <div class="info">
      <div class="job_place"> Aachen</div>
      <div class="job_type"> Vollzeit</div>
      <div class="job_salary">14€/std</div>
    </div>
  </div>
  <div class="firm_logo_space"></div>

</div>

<div class="job_description">
  Das erwartet Dich
  Bei Mazars kommen Menschen zusammen, die gemeinsam Großes schaffen. Unsere Story zeigt, 
  was echtes Miteinander bewirkt – denn Wachstum ist unser fester Kurs. Gegründet in Europa und 
  in der Welt zuhause, ist Mazars heute in 90 Ländern vertreten. Gemeinsam leisten wir einen 
  Beitrag für die wirtschaftlichen Grundlagen einer gerechten, prosperierenden Welt. Unsere 
  fachliche Exzellenz in den Bereichen Wirtschaftsprüfung, Steuern, Recht, Accounting, Financial
   Advisory und Consulting macht uns zu vertrauensvollen Partnern unserer Mandant:innen. Um ihr 
   Geschäft nachhaltig zu sichern und weiterzuentwickeln, sind unsere 42.000 Expertinnen und 
   Experten jeden Tag weltweit aktiv – im Austausch über Länder- und Kulturgrenzen hinweg.
</div>


<div class="post_bottom">

 <div class="post_botom_top">

   <div class="like_top">
     <div class="like_top_sticker"><a href="#"> <i class="fa fa-gratipay" aria-hidden="true"></i></a></div>
     <div class="like_top_number">10</div>
   </div>
   <div class="post_bottom_space"></div>

   <div class="coment_top">
     <div class="coment_top_number"> 10 </div>
     <div class="coment_top_text">Questions</div>
   </div>
 </div>

 <div class="post_botom_bottom">
   <div class="like">
    <button type="button" onclick="" class="like_buton"> <i class="fa fa-gratipay" aria-hidden="true"></i> like</button>
   </div>
   <div class="coment">
    <button class="like_buton"> <i class="fa fa-comment" aria-hidden="true"></i>Question</button>
   </div>
   <div class="save">
    <button class="like_buton"> <i class="fa fa-bookmark" aria-hidden="true"></i> Save</button>
  </div>

 </div>
</div>

</div>



    <!--to be delete------------------------------------------------->
  </div>
  <div class="main_right"> 
    <button>bonjour</button>
  </div>
</div>

