<div class="main">
  <div class="main_left"></div>
  <div class="main_center">
    <div class="profils">
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
      <div class="profil"></div>
    </div>


    <div class="post">
      <div class="post_head">
        <div class="post_head_content">
          <div class="post_head_icon">
           
         <a href="">  <img  class="post_head_icon_img" height="100%"  width="100%" src="../../assets/minion.jpg"></a>  
          </div>
          <div class="post_head_text">
            <div class="post_head_text_name"> <a href=""> Valdes Voufo </a> </div>
            <div class="post_head_text_time" > hier a 10:15</div>
          </div>
          <div class="post_head_option">
            <div class="post_head_option_more"><a href="#"> <i class="material-icons">more_horiz</i></a></div>
          </div>
        </div>
      </div>
      <div class="post_text">
        𝗟𝗔 𝗥𝗘𝗟𝗜𝗚𝗜𝗢𝗡 𝗖𝗛𝗘𝗭 𝗟𝗘𝗦 ''𝗕𝗔𝗠𝗜𝗟𝗘𝗞𝗘''
"Les croyances religieuses sont intimement liées au terroir et aux ancêtres
 qui l'ont aménagé. II existe par conséquent de nombreuses divinités 
 considérées comme des dieux lares protecteurs de certains lieux de
 la chefferie toute entière ou de chacune des sociétés coutumières.
      </div>
      <div class="post_image"></div>
      <div class="post_bottom"></div>

    </div>
  </div>
  <div class="main_right"> </div>
</div>
